/* Global
--------------------------------------------- */

body {
    background-color: #FFC914;
    cursor: default;
    margin: 0;
}


/* Header
--------------------------------------------- */

h1 {
    font: small-caps 800 1.5em/1.75 'Nunito', sans-serif;
    text-align: center;
    color: #E4572E;
    text-shadow: 1px 1px 0 gray;
}

/* Main
--------------------------------------------- */

.center {
    padding: auto 0;
    text-align: center;
}

.jokePanel,
.editPanel {
    min-height: 300px;
    max-width: 650px;
    font: 400 1.6em/2 'Open Sans', sans-serif;
    margin: 0 auto;
    padding: 1% 1%;
}

.jokePanel {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #141912;
}

.editPanel {
    font-size: 1.25em;
    line-height: 1.25em;
    color: #1F271B;
}

*:focus {
    outline: 0 !important;
}


/* Inputs
--------------------------------------------- */

input {
    border: hidden;
    -webkit-box-shadow: 10px 10px 21px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 10px 10px 21px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 10px 10px 21px 0px rgba(0, 0, 0, 0.1);
}

input[type="button"] {
    font: 400 1.2em 'Nunito', sans-serif;
    display: inline-block;
    margin: 0 auto;
    width: 35%;
    text-align: center;
    cursor: pointer;
}

input[type="text"] {
    font: 300 1em 'Nunito', sans-serif;
    display: block;
    margin: 0.75em auto;
    width: 35%;
    border-radius: 1.1em;
    text-align: center;
    text-transform: capitalize;
}

.btns {
    margin: 0 auto;
    padding: 2.5% 2.5%;
    max-width: 550px;
}

#edit {
    float: left;
    margin-left: 12%;
    border-radius: 50px 20px;
}

#next {
    float: right;
    margin-right: 12%;
    border-radius: 50px 20px;
}


/* Footer
---------------------------------- */

footer {
    text-align: center;
    font: 300 1.2em/1.1 'Nunito', sans-serif;
    color: #1F271B;
}

a {
    text-decoration: none;
}

.red {
    color: #FF2E29;
}

#linkedin,
#mail {
    text-decoration: none;
    padding: 10px;
    display: inline-block;
}

#share {
    line-height: 1em;
    margin-top: 1em;
}


/* Whatsapp
---------------------------------------------- */

.w3_whatsapp_btn {
    background-image: url('../images/icon.png');
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: inline-block !important;
    position: relative;
    font-family: Arial, sans-serif;
    letter-spacing: .4px;
    cursor: pointer;
    font-weight: 400;
    text-transform: none;
    color: #fff;
    border-radius: 2px;
    background-color: #5cbe4a;
    background-repeat: no-repeat;
    line-height: 1.2;
    text-decoration: none;
    text-align: left;
}

.w3_whatsapp_btn_small {
    font-size: 12px;
    background-size: 16px;
    background-position: 5px 2px;
    padding: 3px 6px 3px 25px;
}

.w3_whatsapp_btn_medium {
    font-size: 16px;
    background-size: 20px;
    background-position: 4px 2px;
    padding: 4px 6px 4px 30px;
}

.w3_whatsapp_btn_large {
    font-size: 16px;
    background-size: 20px;
    background-position: 5px 5px;
    padding: 8px 6px 8px 30px;
    color: #fff;
}

a.whatsapp {
    color: #fff;
}
